izpack-dist/src/main/resources/schema/izpack-installation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ IzPack - Copyright 2001-2012 Julien Ponge, All Rights Reserved.
  ~
  ~ http://izpack.org/
  ~ http://izpack.codehaus.org/
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://izpack.org/schema/installation"
           xmlns="http://izpack.org/schema/installation">
    <xs:include schemaLocation="izpack-types.xsd"/>

    <xs:element name="installation" type="installationType"/>

    <xs:complexType name="installationType">
        <xs:sequence>
            <xs:element name="info" type="infoType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>The info section</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="variables" type="variablesType" minOccurs="0"/>

            <xs:element name="dynamicvariables" type="dynamicVariablesType" minOccurs="0"/>

            <xs:element name="conditions" type="conditionsType" minOccurs="0"/>

            <xs:element name="dynamicinstallerrequirements" type="dynamicInstallerRequirementsType" minOccurs="0"/>

            <xs:element name="installerrequirements" type="installerRequirementsType" minOccurs="0"/>

            <xs:element name="guiprefs" type="guiprefsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Flexible and in the screen proportions</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="locale" type="localeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Locales of the installation</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="resources" type="resourcesType" minOccurs="0"/>

            <xs:element name="packaging" type="packagingType" minOccurs="0"/>

            <xs:element name="jar" type="jarType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="listeners" type="listenersType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The listeners section</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="panels" type="panelsType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>The panels in order</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="packs" type="packsType">
                <xs:annotation>
                    <xs:documentation>The packs section</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="natives" type="nativesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" fixed="5.0"/>
    </xs:complexType>

    <!-- type for info section -->
    <xs:complexType name="infoType">
        <xs:all>
            <xs:element type="xs:string" name="appname"/>
            <xs:element type="xs:string" name="appversion"/>
            <xs:element type="xs:string" name="appsubpath" minOccurs="0"/>
            <xs:element type="authorsType" name="authors" minOccurs="0"/>
            <xs:element type="xs:string" name="url" minOccurs="0"/>
            <xs:element type="xs:string" name="javaversion" minOccurs="0"/>
            <xs:element type="xs:string" name="requiresjdk" minOccurs="0"/>
            <xs:element type="xs:string" name="pack200" minOccurs="0"/>
            <xs:element type="run-privilegedType" name="run-privileged" minOccurs="0"/>
            <xs:element type="xs:string" name="summarylogfilepath" minOccurs="0"/>
            <xs:element type="uninstallerType" name="uninstaller" minOccurs="0"/>
            <xs:element type="yesNoTrueFalseType" name="writeinstallationinformation" minOccurs="0"/>
            <xs:element type="rebootActionType" name="rebootaction" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="run-privilegedType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="condition"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="uninstallerType">
        <xs:attribute type="yesNoTrueFalseType" name="write" use="optional" default="yes"/>
        <xs:attribute type="xs:string" name="path" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>

    <!-- Variables types -->
    <xs:complexType name="variablesType">
        <xs:sequence>
            <xs:element type="variableType" name="variable" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="variableType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Dynamic variables types -->
    <xs:complexType name="dynamicVariablesType">
        <xs:sequence>
            <xs:element type="dynamicVariableType" name="variable" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dynamicVariableType">
        <xs:all minOccurs="0">
            <xs:element type="dynamicVariableFiltersType" name="filters" minOccurs="0"/>
            <!-- Command execution arguments -->
            <xs:element type="xs:string" name="arg" minOccurs="0"/>
        </xs:all>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:boolean" name="checkonce" use="optional" default="false"/>
        <xs:attribute type="xs:string" name="condition" use="optional"/>
        <!-- plain -->
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <!-- environment variable -->
        <xs:attribute type="xs:string" name="environment" use="optional"/>
        <!-- configuration file -->
        <xs:attribute type="xs:string" name="file" use="optional"/>
        <xs:attribute type="xs:string" name="section" use="optional"/>
        <xs:attribute type="xs:string" name="key" use="optional"/>
        <!-- configuration file in zip/jar file -->
        <xs:attribute type="xs:string" name="zipfile" use="optional"/>
        <xs:attribute type="xs:string" name="jarfile" use="optional"/>
        <xs:attribute type="xs:string" name="entry" use="optional"/>
        <xs:attribute type="xs:boolean" name="ignorefailure" use="optional" default="false"/>
        <!-- Windows registry -->
        <xs:attribute type="xs:string" name="regkey" use="optional"/>
        <xs:attribute type="xs:string" name="regvalue" use="optional"/>
        <!-- Command execution -->
        <xs:attribute type="xs:string" name="executable" use="optional"/>
        <xs:attribute type="xs:string" name="dir" use="optional"/>
        <xs:attribute type="xs:boolean" name="stderr" use="optional"/>
        <!-- Type - same name for config file type and execution type -->
        <xs:attribute name="type" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="options"/>
                    <xs:enumeration value="ini"/>
                    <xs:enumeration value="xml"/>
                    <xs:enumeration value="process"/>
                    <xs:enumeration value="shell"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="dynamicVariableFiltersType">
        <xs:sequence>
            <xs:element type="dynamicVariableRegexFilterType" name="regex" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="dynamicVariableLocationFilterType" name="location" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dynamicVariableRegexFilterType">
        <xs:attribute type="xs:string" name="regexp" use="required"/>
        <xs:attribute type="xs:string" name="select" use="optional"/>
        <xs:attribute type="xs:string" name="replace" use="optional"/>
        <xs:attribute type="xs:string" name="defaultvalue" use="optional"/>
        <xs:attribute type="xs:boolean" name="global" use="optional"/>
        <xs:attribute type="xs:boolean" name="casesensitive" use="optional"/>
    </xs:complexType>
    <xs:complexType name="dynamicVariableLocationFilterType">
        <xs:attribute type="xs:string" name="basedir" use="optional"/>
    </xs:complexType>

    <xs:complexType name="dynamicInstallerRequirementsType">
        <xs:sequence>
            <xs:element name="installerrequirement" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="status" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="warning"/>
                                <xs:enumeration value="error"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute type="xs:string" name="condition" use="required"/>
                    <xs:attribute type="xs:string" name="messageid" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="installerRequirementsType">
        <xs:sequence>
            <xs:element name="installerrequirement" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="condition" use="required"/>
                    <xs:attribute type="xs:string" name="message" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Filesets types -->
    <xs:complexType name="filesetType">
        <xs:sequence>
            <xs:element type="includeType" name="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="includeType" name="exclude" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="additionaldata" type="additionalDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="osType" name="os" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="dir" use="required"/>
        <xs:attribute type="xs:string" name="targetdir" use="required"/>
        <xs:attribute type="xs:boolean" name="override" use="optional" default="false"/>
        <xs:attribute type="xs:string" name="overrideRenameTo" use="optional"/>
    </xs:complexType>
    <xs:complexType name="includeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="additionalDataType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Resources types -->
    <xs:complexType name="resourcesType">
        <xs:sequence>
            <xs:element type="resourceType" name="res" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="resourceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="src" use="required"/>
                <xs:attribute type="xs:string" name="id" use="required"/>
                <xs:attribute type="substitutionType" name="type" default="plain"/>
                <xs:attribute type="yesNoTrueFalseType" name="parse" use="optional" default="no"/>
                <xs:attribute type="yesNoTrueFalseType" name="parsexml" use="optional" default="no"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="packType">
        <xs:sequence>
            <xs:element type="xs:string" name="description" maxOccurs="1"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element type="filesetType" name="fileset" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element type="fileType" name="file" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element type="singleFileType" name="singlefile" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element type="parsableType" name="parsable" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element type="executableType" name="executable" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
            <xs:element type="updateCheckType" name="updatecheck" minOccurs="0" maxOccurs="1"/>
            <xs:element name="validator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="os" type="osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="yesNoTrueFalseType" name="required"/>
        <xs:attribute type="xs:boolean" name="hidden" default="false"/>
        <xs:attribute type="yesNoTrueFalseType" name="preselected" use="optional"/>
        <xs:attribute type="xs:boolean" name="loose" use="optional"/>
    </xs:complexType>

    <xs:complexType name="osType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="family" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="arch" use="optional"/>
                <xs:attribute type="xs:string" name="version" use="optional"/>
                <xs:attribute type="xs:string" name="jre" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="langpackType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="iso3" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Panels definition -->
    <xs:complexType name="panelsType">
        <xs:sequence>
            <xs:element type="panelType" name="panel" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="panelType">
        <xs:sequence>
            <xs:element name="configuration" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="paramType" name="param" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element type="validatorType" name="validator" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="actions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="action" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute name="stage" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="preconstruct"/>
                                            <xs:enumeration value="preactivate"/>
                                            <xs:enumeration value="postconstruct"/>
                                            <xs:enumeration value="prevalidate"/>
                                            <xs:enumeration value="postvalidate"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="classname" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="os" type="osType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="help" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="iso3" type="xs:string" use="required"/>
                    <xs:attribute name="src" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="classname" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="encoding" use="optional"/>
        <xs:attribute type="xs:string" name="condition" use="optional"/>
    </xs:complexType>
    <xs:complexType name="validatorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="classname" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="guiprefsType">
        <xs:sequence>
            <xs:element type="modifierType" name="modifier" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>GUI addaption for more informations see "Modifying the GUI" in the documentation
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="laf" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="paramType" name="param" minOccurs="1" maxOccurs="unbounded"/>
                        <xs:element type="osType" name="os" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="name" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="splash" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="height"/>
        <xs:attribute type="xs:string" name="resizable"/>
        <xs:attribute type="xs:string" name="width"/>
    </xs:complexType>

    <xs:complexType name="paramType">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
    </xs:complexType>

    <xs:complexType name="authorsType">
        <xs:sequence>
            <xs:element type="authorType" name="author" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="authorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="email" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="modifierType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="key" use="optional"/>
                <xs:attribute type="xs:string" name="value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="packagingType">
        <xs:sequence>
            <xs:element ref="packager"/>
            <xs:element ref="unpacker"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="packager">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="options"/>
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="options">
        <xs:complexType>
            <xs:attribute name="volumesize" type="xs:string" use="required"/>
            <xs:attribute name="firstvolumefreespace" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unpacker">
        <xs:complexType>
            <xs:attribute name="class" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="jarType" mixed="true">
        <xs:sequence>
            <xs:element type="osType" name="os" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="src" use="required"/>
        <xs:attribute name="stage" use="optional" default="install">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="both"/>
                    <xs:enumeration value="uninstall"/>
                    <xs:enumeration value="install"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Listener definition -->
    <xs:complexType name="listenerType" mixed="true">
        <xs:sequence>
            <xs:element name="os" type="osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="classname" type="xs:string" use="required"/>
        <xs:attribute name="stage" type="xs:string" use="optional"/>
        <xs:attribute name="jar" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="listenersType">
        <xs:sequence>
            <xs:element type="listenerType" name="listener" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="localeType">
        <xs:sequence>
            <xs:element type="langpackType" name="langpack" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="packsType">
        <xs:sequence>
            <xs:element type="packType" name="pack" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The core files</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="refpack" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="refpackset" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="executableType">
        <xs:sequence>
            <xs:element type="filesetType" name="fileset" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="argsType" name="args" minOccurs="0"/>
            <xs:element type="osType" name="os" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="targetfile" use="optional"/>
        <xs:attribute name="stage" use="optional" default="never">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="never"/>
                    <xs:enumeration value="postinstall"/>
                    <xs:enumeration value="uninstall"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:boolean" name="keep" use="optional" default="false"/>
    </xs:complexType>

    <xs:complexType name="argsType">
        <xs:sequence>
            <xs:element name="arg" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="value" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parsableType">
        <xs:sequence>
            <xs:element type="filesetType" name="fileset" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="os" type="osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="targetfile" use="optional"/>
        <xs:attribute type="substitutionType" name="type" use="optional" default="plain"/>
        <xs:attribute type="xs:string" name="encoding" use="optional"/>
        <xs:attribute type="xs:string" name="condition" use="optional"/>
    </xs:complexType>

    <xs:complexType name="updateCheckType">
        <xs:sequence>
            <xs:element type="includeType" name="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="includeType" name="exclude" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nativesType">
        <xs:sequence>
            <xs:element type="nativeType" name="native" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="nativeType">
        <xs:sequence>
            <xs:element type="osType" name="os" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="stage"/>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element type="xs:string" name="condition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="additionaldata" type="additionalDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="osType" name="os" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="src" use="required"/>
        <xs:attribute type="xs:string" name="targetdir" use="required"/>
        <xs:attribute type="xs:boolean" name="override" use="optional" default="false"/>
        <xs:attribute type="xs:boolean" name="blockable" use="optional" default="false"/>
        <xs:attribute type="xs:boolean" name="unpack" use="optional" default="false"/>
        <xs:attribute type="xs:boolean" name="casesensitive" use="optional" default="true"/>
        <xs:attribute type="xs:boolean" name="defaultexcludes" use="optional" default="true"/>
        <xs:attribute type="xs:boolean" name="followsymlinks" use="optional" default="true"/>
    </xs:complexType>

    <xs:complexType name="singleFileType">
        <xs:sequence>
            <xs:element type="xs:string" name="condition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="additionaldata" type="additionalDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="osType" name="os" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="src" use="required"/>
        <xs:attribute type="xs:string" name="target" use="required"/>
        <xs:attribute type="xs:boolean" name="override" use="optional" default="false"/>
        <xs:attribute type="xs:boolean" name="blockable" use="optional" default="false"/>
        <xs:attribute type="xs:boolean" name="unpack" use="optional" default="false"/>
    </xs:complexType>

    <xs:simpleType name="yesNoTrueFalseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="substitutionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ant"/>
            <xs:enumeration value="at"/>
            <xs:enumeration value="java"/>
            <xs:enumeration value="javaprop"/>
            <xs:enumeration value="plain"/>
            <xs:enumeration value="shell"/>
            <xs:enumeration value="xml"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="rebootActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ignore"/>
            <xs:enumeration value="notice"/>
            <xs:enumeration value="ask"/>
            <xs:enumeration value="always"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>