src/dtd/event/bsfaction.dtd

<!--

        =====================================
        The DTD for the IzPack CustomActions
        BSFInstallerListener and
        BSFUninstallerListener
        =====================================
-->

<!-- The root element -->
<!ELEMENT bsfactions (pack*)>
<!ELEMENT pack (script+)>
<!ATTLIST pack name CDATA #REQUIRED>
<!ELEMENT script (#PCDATA)>
<!ATTLIST script language CDATA #REQUIRED>